CLERK_PUBLISHABLE_KEY=pk_test_xxx
CLERK_SECRET_KEY=sk_test_xxx
INSTANCE_ID=central
INSTANCE_NAME=FASTR Central Hub
PG_HOST=localhost
PG_PORT=5432
PG_PASSWORD=postgres
DATABASE_FOLDER=central
SERVER_VERSION=1.0.0
IS_PRODUCTION=
