CLERK_PUBLISHABLE_KEY=pk_test_xxx
CLERK_SECRET_KEY=sk_test_xxx
INSTANCE_ID=central
INSTANCE_NAME=FASTR Central Hub
PG_HOST=localhost
PG_PORT=7002
PG_PASSWORD=your_pg_password
DATABASE_FOLDER=central
SERVER_VERSION=dev
IS_PRODUCTION=
BYPASS_AUTH=true
CENTRAL_SERVER_SECRET=your_central_server_secret
SERVERS_FILE_PATH=./servers.json
